#novalnet_loading_div {
	display:none;
	background: none repeat scroll 0px 0px rgb(0, 0, 0);
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100000;
	background: url('../images/novalnet_loading_icon.gif') 50% 50% no-repeat;
}

.nn_map_header
{
	background-color:#0080c9;
	color:#fff;
	font-size:14px;
	font-family:calibri;
	font-weight:bold;
	padding:5px;
	text-align:center;
	width:98%;
}